table {
  width: 80%
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(0, 0, 0, .12);
}

th.mat-header-cell {
  text-align: left;
  background-color: green;
  color: white;
}
